body {
  font-family: helvetica;
  margin: 2px 10px;
}

.graph {
  float: left;
  margin-right: 5px;
  text-align: center;
}

img { border: none }

a { text-decoration: none }

div.nav {
  text-align: center;
}
div.nav .navitem {
  font-weight: bold;
}
a.navitem {
  color: #66f;
}
span.navitem {
  color: #666;
}

